.h1-title {
  font: italic bold 60px consolas, sans-serif;
}
.center {
  background-color: whitesmoke;
  text-align: center;
}
.grid {
  display: grid;
  grid-gap: 120px;
  grid-template-columns: minmax(100px, 1fr) 2fr;
  padding: 0;
}
.box {
  border: block;

  border: 10px solid rosybrown;
  font-style: italic;
  width: auto;
  padding: 20px;
}

#description {
  text-align: left;
  text-decoration-style: dashed;
}

.button {
  display: block;
  height: 50%;
  border-radius: 5px;

  font-style: italic;
  font-size: auto;
  border: 3px solid rosybrown;
  color: #6e6e6e;
}

.des {
  padding: 20px;
}
