.h1-title {
  font: italic bold 4em consolas, sans-serif;
}
.center {
  background-color: whitesmoke;
  text-align: center;
}
.grid {
  display: grid;
  grid-gap: 10em;
  grid-template-columns: minmax(10em, 1fr) 2fr;
  padding: 0;
}
.box {
  border: block;

  border: 0.5em solid rosybrown;
  font-style: italic;
  width: auto;
  padding: 1em;
}

#description {
  text-align: left;
  text-decoration-style: dashed;
}

.button {
  display: block;

  border-radius: 0em;
  font: italic bold;

  font-style: italic;
  font-size: auto;
  border: 10px solid rosybrown;
  color: #6e6e6e;
}

.des {
  padding: 20px;
}
